fvcore==0.1.5.post20221221
matplotlib>=3.7.0
numpy>=1.24.0,<2.3.0
pandas>=2.0.0,<3.0.0
PyYAML==6.0.3
iopath==0.1.10
yacs==0.1.8
tqdm==4.67.3
# Sin torch ni torchvision porque ya vienen en la imagen base
